testing/

data-gen/Datasets/*

data-gen/Experiment_1/*
# data-gen/Benchmark/*
# data-gen/Benchmark-v2/*
# data-gen/Benchmark-alpha/*
# data-gen/Benchmark*
Benchmark*/*x*/*
Benchmark/*x*/*

# Ignore all .npz files in data-gen and its subfolders
data-gen/**/*.npz
data-gen/**/*.h5
data-gen/**/*.json
data-gen/**/*.npy

# Ignore directories matching {number}x{number} in data-gen
data-gen/[0-9]*x[0-9]*/
data-gen/[0-9]x[0-9]/*


code-RA-GNN-workspace.code-workspace

data-gen/SLURM_jobs/*

data-gen/params/*
data-gen/params*

GNN/Results/*
GNN/__pycache__/*
GNN/Figs/train/*
